@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&subset=greek');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sana-serif;

}

body{
    background-color: rgb(44,91,91);

}
.main-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;

}

.ta-wapper{
    background-color: whitesmoke;
    color: white;
    padding: 20px;
    border: 4px;
    box-shadow: 0 0 7px rgb(0 0 0 /20%);
    min-height: 300px;
}

.heading h1{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-bottom: 10px;



}
.input-wrapper{
    margin: 20px;

}

.input-wrapper input{
    outline: none;
    border: 0;
    background-color: rgba(red, green, blue, alpha);
    padding: 10px;
    color: white;
    width: 500px;
}
.input-wrapper button{
    background-color: red;
    color: white;
    border: 0;
    padding: 10px;
    font-size: bold;
    border-radius: 2px;
    cursor: pointer;
    
}  

.todo-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border: yellowgreen;
    padding-bottom: 10px;

}

.todo-item input{
    background-color: transparent;
    border: lightpink;
    color: white;
    outline: none;

}
.todo-item{
    color:#e55cba;
    background: transparent;
    border:1px solid;
    padding-left: 6px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-left: 5px;

}

.todo-item button:hover{
    color: white;

}

.done{
    text-decoration: line-through;

}

.fa-x{
    padding: 6px 8px !important;
}